/*      HEADER      */

/* desktop */

.header {
    display: grid;
    grid-template-columns: 9vw [header-logo-start] minmax(300px, 40%) [header-menu-start] 1fr;
    align-items: center;
    min-height: 102px;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.9);
}

.header__logo {
    position: relative;
    grid-column-start: header-logo-start;
    height: 100%;
    background-image: url(../Imgs/snowflake\ \(2\).png);
    background-repeat: no-repeat;
    background-position: left center;
}

.header__menu {
    grid-column-start: header-menu-start;
    display: flex;
    justify-content: space-between;
    max-width: 645px;
    min-width: max-content;
}

.header__link {
    border: 1px solid #FFFFFF;
    font-family: Ubuntu-Bold;
    /* Добавила здесь border чтобы ссылки не прыгали при наведении курсора. Потому что при наведении появляется оформление border снизу и сверху (Юля) */
}

/* general */

.header__home-click {
    position: absolute;
    top: 29px;
    left: 0;
    width: 70px;
    height: 44px;
}

.header__click {
    display: none;
}

.header__link,
.header__title {
    font-size: 0.85em;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
}

.header__link:hover,
.header__link:active {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}