/* ANIMATION */

/* .container__bubbling {
    transform: scale(1.5, 1.5);
    transform-origin: bottom;
    width: 65%;
    margin: auto;
}

.container__bubbling > div {
    margin-top: 50px;
}

.bubble {
    max-width: 100%;
    padding: 20px;
    border: 1px solid #665610;
    border-radius: 6px;
    background-color: rgba(3, 5, 0, 0.09);
    cursor: pointer;
}

.active {
    background-color: #4c6146ad;
} */


/*INTRO*/

.intro {
    grid-template-rows: [intro-title-start intro-image-start] 56% [btns-start] 28% [slides-start] 1fr [intro-image-end];
    grid-template-columns: 9.4vw [intro-content-start] minmax(300px, 40%) [intro-image-start] 1fr [intro-image-end] 9.4vw;
    display: grid;
    min-height: max-content;

    padding: 8% 0 8% 0;
    margin-bottom: 1%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    z-index: 1; /* in order not to cover log-in form */

    box-shadow: 0 0 10px 7px rgba(221, 221, 221, 1);
}

.intro__project-name {
    grid-row-start: intro-title-start;
    grid-column-start: intro-content-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;

    letter-spacing: 9px;
}

/* .title-text {
    font-size: 5vw;
    line-height: 10vh;
    font-style: italic;
    font-weight: 500;
    color: rgba(221, 221, 221, 0.8);
} */

.intro__project {
    grid-area: intro-image-start / intro-image-start / intro-image-end / intro-image-end;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: flex-end; */
}

.js__clock {
    /* FOR JS-CLOCK */
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 7em;
    align-items: center;
}

.intro__project-img {
    max-width: 100%;
}

/* ANIMATED TEXT */

.my-path {
    fill:none;
    stroke:#cfc33a;
    stroke-width:4;
}

.lines {
    line-height: 50vh;
}


/* TIMER */

  /* .wrapper {
    margin: auto;
    padding: 20px;
  }
  
  .clock {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0;
  }
  
  .number {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0;
  }
  
  .digit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  
  .digit__svg {
    width: 100%;
    height: auto;
    stroke: #e88565;
    stroke-width: px;
    fill: none;
    display: block;
  } */